html,body,header,#intro {
    height: 100%;
}
#intro {
    background: url("../img/b878fad5d85f729b1ca521643b962988.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.top-nav-collapse{
    background: whitesmoke;
}



#logo {
    width: 80px;
    height: 50px;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collape) {
        background: whitesmoke;
    }
}

.carousel-item {
    height: 450px;
}

footer {
    flex: 0 0 auto;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.navbar-dark.top-nav-collapse a {
    color: black;
}
.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.navbar-dark a {
    color: black;
}
